@font-face {
    font-family: 'Inter_Black';
    src: url(../fonts/Inter_18pt-Black.ttf);
}

@font-face {
    font-family: 'Inter_Bold';
    src: url(../fonts/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: 'Inter_SemiBold';
    src: url(../fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter_ExtraBold';
    src: url(../fonts/Inter_18pt-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body { 
    width: 100%;
    height: 100vh;

    display: block;
    
    background-color: #E3E3E3;
    
    align-items: center;
    text-align: center;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBar {
    width: 100%;
    height: 3.2vw;

    background-color: #2A3A4B;
    position: fixed;
}

.lmsLogo {
    font-family: 'Inter_ExtraBold';
    font-size: 0.9vw;
    
    color: white;
    text-align: left;

    margin-left: 2vw;
}

.text1 {
    font-family: 'Inter_ExtraBold';
    font-size: 0.8vw;

    color: white;

    margin-left: 29.5vw;
}

.text1:hover {
    border-bottom: solid 0.090vw white;
}

.text2 {
    font-family: 'Inter_ExtraBold';
    font-size: 0.8vw;

    color: white;

    margin-left: 5vw;
}

.text2:hover {
    border-bottom: solid 0.090vw white;
}

.text3 {
    font-family: 'Inter_ExtraBold';
    font-size: 0.8vw;

    color: white;

    margin-left: 5vw;
}

.text3:hover {
    border-bottom: solid 0.090vw white;
}

.text4 {
    font-family: 'Inter_ExtraBold';
    font-size: 0.8vw;

    color: white;

    margin-left: 5vw;
}

.text4:hover {
    border-bottom: solid 0.090vw white;
}

.profile {
    width: 7.5vw;
    height: 1.8vw;
    
    outline: none;
    border: none;
    border-radius: 0.4vw;
    background-color: #3F5368;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(54, 54, 54);
    cursor: pointer;
    
    margin-left: 24vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePic {
    width: 1.3vw;
    height: 1.3vw;

    background-color: white;
    border-radius: 100%;
}

.username {
    font-family: 'Inter_Bold';
    font-size: 0.55vw;

    color: white;

    text-align: left;

    margin-left: 0.8vw;
}

.downArrow {
    width: 0.4vw;
    height: 0.4vw;

    margin-left: 0.8vw;
}

.mainContainer {
    width: 100%;
    height: 96.8vh;

    display: flex;
    flex-direction: column;

    align-items: center;
    position: fixed;
}

.pageTittle {
    font-family: 'Inter_ExtraBold';
    font-size: 2.5vw;

    margin-top: 4vw;

    color: #2A3A4B;
}

.line {
    width: 85vw;
    height: 0.06vw;

    opacity: 0.2;

    background-color: black;

    margin-top: 0.5vw;
}

.stats {
    display: flex;
    flex-direction: row;

    gap: 2vw;

    margin-top: 2vw;
}

.frame1{
    width: 27vw;
    height: 3vw;

    background-color: white;
    border-radius: 0.8vw;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(182, 182, 182);

    display: flex;
    flex-direction: arrow;

    justify-content: center;
    align-items: center;

    gap: 13vw;
}

.textInFrame {
    font-family: 'Inter_Semibold';
    font-size: 1.4vw;
}

.courseNumber {
    font-family: 'Inter_Extrabold';
    font-size: 1.5vw;
}

.frame2{
    width: 27vw;
    height: 3vw;

    background-color: white;
    border-radius: 0.8vw;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(182, 182, 182);
    
    display: flex;
    flex-direction: arrow;

    justify-content: center;
    align-items: center;

    gap: 9vw;
}

.pendingAssignmentsNumber {
    font-family: 'Inter_Extrabold';
    font-size: 1.5vw;
}

.frame3{
    width: 27vw;
    height: 3vw;

    background-color: white;
    border-radius: 0.8vw;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(182, 182, 182);
    
    display: flex;
    flex-direction: arrow;

    justify-content: center;
    align-items: center;

    gap: 10vw;
}

.pendingAssignmentsNumber {
    font-family: 'Inter_Extrabold';
    font-size: 1.5vw;
}

.enrolledCourses {
    width: 100%;
    height: 3vw;

    display: flex;
    flex-direction: row;

    justify-content: center;
    gap: 61.8vw;

    margin-top: 2vw;
}

.textEnrolledCourses {
    font-family: 'Inter_Extrabold';
    font-size: 1.3vw;
}

.moreCourses {
    width: 10vw;
    height: 2vw;

    border: none;
    border-radius: 0.5vw;
    background-color: #2A3A4B;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(182, 182, 182);
}

.buttonText {
    font-family: 'Inter_Bold';
    font-size: 0.8vw;

    color: white;
}