@font-face {
    font-family: 'Inter_Black';
    src: url(../fonts/Inter_18pt-Black.ttf);
}

@font-face {
    font-family: 'Inter_Bold';
    src: url(../fonts/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: 'Inter_SemiBold';
    src: url(../fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter_ExtraBold';
    src: url(../fonts/Inter_18pt-ExtraBold.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #2a3a4b;

  font-family: Arial, sans-serif;
  color: #000;
}

.mainFrame {
  width: 30vw;
  min-width: 300px;
  padding: 3vh 3vw;
  background-color: #e3e3e3;
  border-radius: 3vh;
  box-shadow: 0 0.5vh 1vh rgba(20, 20, 20, 0.2);

  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.text1 {
  font-size: 5vh;
  font-family: 'Inter_Black';
  margin-top: 1vh;
  color: #2a3a4b;
  text-align: left;
}

.text2 {
  font-size: 3vh;
  font-family: 'Inter_Bold';
  color: #000;
  text-align: left;
}

.text3 {
  font-size: 2vh;
  font-family: 'Inter_Semibold';
  color: #000;
  text-align: left;
}

.text4,
.text5 {
  font-size: 2vh;
  font-family: 'Inter_Extrabold';
  color: #000;
  text-align: left;
  margin-left: 0.2vw;
}

.usernameInput,
.passwordInput {
  width: 100%;
  height: 4vh;

  border: none;
  border-radius: 3vh;
  box-shadow: 0 0.2vh 0.3vh rgba(138, 138, 138, 0.7);

  padding-left: 2vh;
  font-size: 2vh;
  font-family: 'Inter_Extrabold';
  font-weight: 900;
  color: #676767;
}

.usernameInput:focus,
.passwordInput:focus {
  outline: none;
  box-shadow: 0 0 0.5vh #2a3a4b;
}

.enterButton {
  width: 100%;
  height: 5vh;

  background-color: #2a3a4b;
  border: none;
  border-radius: 3vh;
  box-shadow: 0 0.2vh 0.3vh rgba(138, 138, 138, 0.7);

  font-size: 2vh;
  font-family: 'Inter_Semibold';
  color: #fff;

  cursor: pointer;
  transition: background-color 0.3s ease;
}

.enterButton:hover {
  background-color: #1e2a38;
}

.errorMessage {
  color: #d93025;
  font-family: 'Inter_Extrabold';
  font-size: 1.6vh;
  min-height: 3vh;
  margin-top: 1vh;
  text-align: center;
  display: none;
}
