@font-face {
    font-family: 'Inter_Black';
    src: url(../fonts/Inter_18pt-Black.ttf);
}

@font-face {
    font-family: 'Inter_Bold';
    src: url(../fonts/Inter_18pt-Bold.ttf);
}

@font-face {
    font-family: 'Inter_SemiBold';
    src: url(../fonts/Inter_18pt-SemiBold.ttf);
}

@font-face {
    font-family: 'Inter_ExtraBold';
    src: url(../fonts/Inter_18pt-ExtraBold.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body { 
    width: 100%;
    height: 100vh;

    display: block;
    
    background-color: #E3E3E3;
    
    align-items: center;
    text-align: center;

}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topBar {
    width: 100%;
    height: 3.2vw;

    background-color: #2A3A4B;
    position: fixed;

    z-index: 1;
}

.lmsLogo {
    font-family: 'Inter_ExtraBold';
    font-size: 0.9vw;
    
    color: white;
    text-align: left;

    margin-left: 2vw;
}

.text1 {
    font-family: 'Inter_ExtraBold';
    font-size: 0.8vw;

    color: white;

    margin-left: 29.5vw;
}

.text1:hover {
    border-bottom: solid 0.090vw white;
}

.text2 {
    font-family: 'Inter_ExtraBold';
    font-size: 0.8vw;

    color: white;

    margin-left: 5vw;
}

.text2:hover {
    border-bottom: solid 0.090vw white;
}

.text3 {
    font-family: 'Inter_ExtraBold';
    font-size: 0.8vw;

    color: white;

    margin-left: 5vw;
}

.text3:hover {
    border-bottom: solid 0.090vw white;
}

.text4 {
    font-family: 'Inter_ExtraBold';
    font-size: 0.8vw;

    color: white;

    margin-left: 5vw;
}

.text4:hover {
    border-bottom: solid 0.090vw white;
}

.profile {
    width: 7.5vw;
    height: 1.8vw;
    
    outline: none;
    border: none;
    border-radius: 0.4vw;
    background-color: #3F5368;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(54, 54, 54);
    cursor: pointer;
    
    margin-left: 24vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.profilePic {
    width: 1.3vw;
    height: 1.3vw;

    background-color: white;
    border-radius: 100%;
}

.username {
    font-family: 'Inter_Bold';
    font-size: 0.55vw;

    color: white;

    text-align: left;

    margin-left: 0.8vw;
}

.downArrow {
    width: 0.4vw;
    height: 0.4vw;

    margin-left: 0.8vw;
}

.mainContainer {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;

    padding-bottom: 3vw;
}

.backButton {
    width: 12vw;
    height: 2.6vw;

    border: none;
    border-radius: 0.6vw;
    background-color: #2A3A4B;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(54, 54, 54);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 4vw;
    margin-left: -42.6vw;

    font-family: 'Inter_Extrabold';
    font-size: 1.5vw;
    color: white;
    gap: 1vw;
}

.goBackImg {
    width: 1.5vw;
    height: 1.5vw;
}

.tittleContainer {
    width: 85vw;
    height: 3vw;

    margin-top: 2vw;

    text-align: left;
}

.taskTittle {
    font-family: 'Inter_Extrabold';
    font-size: 2.5vw;

    margin-left: 0vw;
}

.subContainer {
    width: 85vw;
    height: auto;

    margin-top: 1vw;

    display: grid;
    grid: auto auto;
}

.infoFrame {
    width: 60vw;
    height: 35vw;

    border: none;
    border-radius: 0.6vw;
    background-color: #FFFFFF;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(95, 95, 95);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Inter_Extrabold';
    font-size: 1.5vw;
    color: white;
    gap: 1vw;

    grid-column: 1/2;
    grid-row: 1/4;
}


.pointsFrame {
    width: 20vw;
    height: 8vw;

    border: none;
    border-radius: 0.6vw;
    background-color: #FFFFFF;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(95, 95, 95);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Inter_Extrabold';
    font-size: 1.5vw;
    color: #2A3A4B;
    gap: 1vw;

    grid-column: 2/3;
    grid-row: 1/2;
}

.repositoryFrame {
    width: 20vw;
    height: 17vw;

    border: none;
    border-radius: 0.6vw;
    background-color: #FFFFFF;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(95, 95, 95);

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: 'Inter_Extrabold';
    font-size: 1.5vw;
    color: white;

    margin-top: 2vw;
    margin-bottom: 5vw;

    grid-column: 2/3;
    grid-row: 2/3;
}

.sendButton {
    width: 20vw;
    height: 3vw;

    border: none;
    border-radius: 0.6vw;
    background-color: #2A3A4B;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(95, 95, 95);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter_Extrabold';
    font-size: 1.5vw;
    color: white;
    gap: 1vw;

    grid-column: 2/3;
    grid-row: 3/4;
}

.additionalCommentsInput {
    resize: none;
}

.textContainer {
    width: 56vw;
    height: 10vw;
    
    margin-top: 2vw;
}

.infoCourseTxt {
    font-family: 'Inter_Extrabold';
    font-size: 1.5vw;

    color: #2A3A4B;
    text-align: left;
}

.materialButton {
    width: 12vw;
    height: 2.5vw;

    border: none;
    border-radius: 0.6vw;
    background-color: #D9D9D9;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(95, 95, 95);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter_Extrabold';
    font-size: 1vw;
    color: #2A3A4B;

    margin-left: -28vw;
    margin-top: -2vw;
}

.line {
    width: 56vw;
    height: 0.04vw;

    background-color: #2A3A4B;

    opacity: 0.5;
    
    margin-top: 2vw;
}

span {
    opacity: 0.5;
}

.additionalComments {
    font-family: 'Inter_Extrabold';
    font-size: 2vw;

    color: #2A3A4B;
    opacity: 0.5;

    margin-left: -34.5vw;
}

.additionalCommentsInput {
    width: 55vw;
    height: 10vw;

    border: none;
    border-radius: 0.6vw;
    background-color: #D9D9D9;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(95, 95, 95);

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Inter_Extrabold';
    font-size: 1vw;
    color: black;

    margin-top: 1vw;

    padding-top: 1vw;
    padding-left: 1vw;
}

.additionalCommentsInput:focus {
    border: none;
    outline: none;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(22, 22, 22);
}

.calendar {
    width: auto;
    height: 2vw;

    margin-right: 0.5vw;
    margin-left: 0.4vw;
}

.points {
    font-family: 'Inter_Black';
    font-size: 2vw;

    margin-left: -6vw;
    display: flex;
    gap: 1vw
}

.line2 {
    width: 18vw;
    height: 0.03vw;

    background-color: #2A3A4B;
    opacity: 0.3;

    margin-top: -0.5vw;
}

.due {
    width: 18vw;
    height: 2vw;

    display: flex;
    
    gap: 0.5vw;
}

.repositoryPath {
    font-family: 'Inter_Extrabold';
    font-size: 1.7vw;
    
    color: #2A3A4B;

    margin-top: 1vw;
    margin-bottom: 1vw;
    margin-left: -4.8vw;
}

.subtittles {
    font-family: 'Inter_Extrabold';
    font-size: 1vw;

    color: #2A3A4B;

    margin-top: 1vw;
    margin-bottom: 0.5vw;
    margin-left: -15vw;
}

.repositoryInputs {
    width: 17.5vw;
    height: 2vw;

    border: none;
    background-color: #D9D9D9;
    box-shadow: 
        0vw 0.1vw 0.3vw rgb(95, 95, 95);
    border-radius: 0.4vw;

    padding-left: 0.5vw;

    font-family: 'Inter_Extrabold';
    font-size: 1vw;
}

.repositoryInputs:focus {
    border: none;
    outline: none;
}